# Ambientes Virtuais
venv/
env/
.conda/
__pycache__/
*.pyc

# Dados Brutos e de Video (MUITO IMPORTANTE)
data/raw/
data/processed/
data/streams/
*.mp4
*.avi

# Pesos de Modelos de IA
models/
*.pt
*.pth
*.bin

# Variáveis de Ambiente e Logs
.env
*.log